
.bar-container {
    /* border-bottom: 1px solid #ccc!important; */
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

#battery-percent {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    font-weight: 800;
    margin: 0;
    margin-bottom: 5px;
}

.bar-left, .bar-right {
    transition: width 1s;
    height: 4px;
    display: inline-block;
    margin: 0;
}

.bar-left {
    background-color: #4caf50;
}

.bar-right {
    background-color: grey;
}
