.shifter {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    margin-top: 15px;
    margin-right: 30px;
}

.shifter .active {
    font-weight: bold;
    color: #004cff;
}

.shifter li {
    font-size: 1.5rem;
    transition: color 0.2s;
    /* margin-bottom: 5px; */
}
